 

.color{
    background-color: #1abc9c;
    color: white;
}

footer .color{
    background-color: #2c3e50;
}


.color-due{
    background-color: #1a3046;
    color: white;
}

.navbar button {
    border-color: white;
}



label{
    display: none;
}



.bg-primary {
    background-color:  #2c3e50!important;
    color: white;
}
a{
    color: white!important;
}
 


.btn-primary{
    background-color: #1abc9c ;
    border: #1abc9c;
} 

.navbar-toggler-icon{
    color: aliceblue;
}

.cerchio{
    border: .0625rem solid white;
    border-radius: 50%;
}
.stella{
    position: relative;
}
.stella::before{
    content: "";
    display: block;
    width: 10vw;
    position: absolute;
    left: 35%;
    top: 50%;
    border-bottom: .3125rem solid ;
}


.stella::after{
    content: "";
    display: block;
    width: 10vw;
    position: absolute;
    right: 35%;
    top: 50%;
    
    border-bottom: .3125rem solid;
}